body { background: #FFF8F2 url('../images/backgrounds/blueprint.png'); }

/* ==========  General styles ========== */
.wrapper { margin: 0 40px; clear: both; }
.img { border: 1px solid #d5d5d5; }
a { color: #fd6900; }

/* ===== Header ===== */
.logo .box{ width: 180px; height: 64px; display: block; background: url(theme_color_orange/loginLogo.png) no-repeat; }

/* ===== Top navigation ===== */

.userNav .lastNav { width: 2px; height: 36px; background: url(theme_color_orange/navSep.png) repeat-y; position: absolute; top: 0; right: 0; }
.userNav ul li ul li:hover { background: url(theme_color_orange/titleBg.png) repeat-x; background-position: 0 -39px; }
.userNav ul li ul li a.active {background: url(theme_color_orange/titleBg.png) repeat-x; background-position: 0 -39px; color: #fff;}

/* ===== Left navigation ===== */
.leftNav { width: 180px; max-width: 36%; margin-top: -1px; float: left; margin-bottom: 80px; margin-right: 21px; }
.leftNav ul li a { color: #fafafa; font-size: 13px; display: block; background: url(theme_color_orange/titleBg.png) repeat-x 0 0; border: 1px solid #353E47; margin-top: 1px; text-decoration: none; }
.leftNav ul li a:hover { background-position: 0 -78px; border: 1px solid #353E47; }
.leftNav ul li a.active { background-position: 0 -39px; border: 1px solid #fd6900; }

#leftNav_show #toggle-LeftMenu span{ background-image: url(theme_color_orange/left_menu_show.png); }

/* Left navigation subnav */
ul.sub { border: none; }
ul.sub li { border: 1px solid #d5d5d5; padding: 1px; margin: 1px 0 0 0; background: #fff url(../images/leftNavSub.png) repeat; }
ul.sub li.active { background: #FFF8F2 url(../images/leftNavSub.png); border: 1px solid #FFC485;}
ul.sub li.active a { color: #484848;}
ul.sub li a { background: url(../images/arrow.gif) no-repeat 8px 13px; border: none; color: #ccc; font-size: 11px;}
ul.sub li a:hover, .sub li a:active { font-style: normal; border: none; color: #484848; background: url(../images/arrow.gif) no-repeat 8px 13px; }

/* ==========  Left navigation subnav + docs  ========== */
ul.sub li a.numberRight { margin: 0; position: absolute; top: 9px; right: 10px; float: none; background: url(theme_color_orange/numDataBg.png) repeat-x; padding: 3px 3px!important; z-index: 100;}
ul.sub li a.numberRight:hover { background-position: 0px -42px; }

/* ===== Right side content ===== */
.widget { margin-top: 20px; border: 1px solid #484848; display: block; background: #fff; clear: both; }
.widgetS { margin-top: 20px; border: 1px solid #595959; display: block; background: #fafafa; border-top: none; min-width: 25%; float: left; margin-right: 40px; }

.widgets .left { float: left; width: 49%; margin-right: 2%; }
.widgets .right { float: right; width: 49%; }

.widget .num a.basicNum { background: transparent url(theme_color_orange/numDataBg.png) repeat-x 0 0; border: 1px solid #CE5300; color: #fff; -moz-box-shadow: 0 0 2px #9B3E00; -webkit-box-shadow: 0 0 2px #9B3E00; box-shadow: 0 0 2px #9B3E00;}

.head { background: url(theme_color_orange/head.png) repeat-x; height: 36px; border-top: 1px solid #353E47; border-bottom: 1px solid #353E47; position: relative; color: #fff; border-top: none;}

.questions { background: url(theme_color_orange/orangeBtn.png) repeat-x 0 0; border: 1px solid #CE5300; color: #fff; -moz-box-shadow: 0 0 2px #9B3E00; -webkit-box-shadow: 0 0 2px #9B3E00; box-shadow: 0 0 2px #9B3E00; padding: 2px 6px;}
.questions:hover { background-position: 0 -25px; }
.questions:active { background-position: 0 -50px; }

/* ==========  Buttons ========== */
.basicBtn { background: url(../images/ui/orangeBtn.png) repeat-x 0 0; border: 1px solid #CE5300; color: #fff; -moz-box-shadow: 0 0 2px #9B3E00; -webkit-box-shadow: 0 0 2px #9B3E00; box-shadow: 0 0 2px #9B3E00;}
.basicBtn:hover { background-position: 0 -25px; }
.basicBtn:active { background-position: 0 -50px; }

.dualBtn { padding: 7px 8px; cursor: pointer; line-height: 12px; background: url(theme_color_orange/orangeBtn.png) repeat-x 0 0; border: 1px solid #CE5300; color: #fff; -moz-box-shadow: 0 0 2px #9B3E00; -webkit-box-shadow: 0 0 2px #9B3E00; box-shadow: 0 0 2px #9B3E00; }
.dualBtn:hover { background-position: 0 -25px; }
.dualBtn:active { background-position: 0 -50px; }


/* ========== Pagination ========== */
.pagination { margin: auto; width: auto; text-align: center; margin-top: 40px; }
.pages {  }
.pages li.prev { margin-right: 15px; }
.pages li.next { margin-left: 15px; }
.pages li { display: inline; margin: 0 2px; }
.pages li a { height: 25px; padding: 4px 8px; text-decoration: none; color: #666; font-weight: bold; background: url(theme_color_orange/pagination.png) repeat-x 0 0; border: 1px solid #d5d5d5; font-size: 11px; }
.pages li a:hover { background: #efefef; }
.pages li .active { background-position: 0 -26px; color: #fff; border-color: #666; }
.pages li .active:hover { background: #666; }


.content .title { background: url(theme_color_orange/titleBg.png) repeat-x; height: 36px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.content .title h5 { float: left; color: #fafafa; font-weight: normal; display: block; padding: 0 0 0 15px; line-height: 36px;}

/* ==========  Numbers notifications  ========== */
.numberTop, .numberMiddle, .numberLeft, a.numberLeft { text-align: center; display: inline-block; padding: 1px 5px; color: #fff; float: right; margin: 10px 15px 10px -5px; font-size: 11px; line-height: 14px;-moz-border-radius: 3px;-webkit-border-radius: 3px;-khtml-border-radius: 3px;border-radius: 3px;}
.numberTop, .numberMiddle { margin: 9px 15px 8px -5px; padding: 1px 5px!important; background: url(theme_color_orange/numDataBg.png) repeat-x; border: 1px solid #CC6600;}
.numberMiddle { margin: 0; position: absolute; top: -7px; right: -7px; font-size: 11px; background: url(theme_color_orange/numDataBg.png) repeat-x; }
.numberLeft { margin: 0; position: absolute; top: 10px; right: 0px; font-size: 11px; font-family: Arial, Helvetica, sans-serif; float: none; background: url(theme_color_orange/numDataBg.png) repeat-x!important; padding: 2px 6px!important;}

.content .title { background: url(theme_color_orange/titleBg.png) repeat-x; height: 36px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.content .title h5 { color: #fafafa; }

/* ===== PopUp ===== */
#popup_title { text-align: center; background: url(theme_color_orange/leftNavBg.png) repeat-x; border-bottom: 1px solid #d5d5d5; cursor: default; padding: 9px 0 9px 0px; margin: 0em; height: 20px; }
#popup_content { background: #fafafa; padding: 1em 1.75em; margin: 0em; }
#popup_message { text-align: center; }
#popup_panel { text-align: center; margin: 1em 0em 0em 0em; }
#popup_message input[type=text] { background: #FCFCFC; border: 1px solid #D1D1D1; padding: 5px; width: 258px; }
#popup_prompt { margin: .5em 0em; }

.breadCrumbHolder.module { border: solid 1px #FFEBD6; background: #fff; margin-top: 20px;}

/* Selects */
.jqTransformSelectWrapper ul a.selected { background: #fd6900; color: #fff; }

/* ===== Growl notifications ===== */
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {background-color: #FD6900;}

/* ===== Tabs ===== */
ul.tabs { background: transparent url(theme_color_orange/head.png) repeat-x; height: 37px; border-bottom: none; border-top: none;}
ul.tabs li { float: left; height: 36px; line-height: 38px; border-left: none; overflow: hidden; position: relative; background: url(theme_color_orange/tabsSep.png) repeat-y 100% 0; font-size: 15px; }
ul.tabs li a { text-decoration: none; display: block; padding: 0px 12px; outline: none; color: #797979; }
ul.tabs li a:hover { color: #fff; }

.tabsRight { position: relative; }
.tabsRight ul.tabs { float: right; background: url(theme_color_orange/head.png) repeat-x; height: 38px; border-bottom: 1px solid #595959; position: absolute; top: 0; right: 0; }

ul.inact_tabs { background: transparent url(theme_color_orange/head.png) repeat-x; height: 37px; border-bottom: none; border-top: none;}
ul.inact_tabs li { float: left; height: 36px; line-height: 38px; border-left: none; overflow: hidden; position: relative; background: url(theme_color_orange/tabsSep.png) repeat-y 100% 0; font-size: 15px; }
ul.inact_tabs li a { text-decoration: none; display: block; padding: 0px 12px; outline: none; color: #797979; }
ul.inact_tabs li a:hover { color: #fff; }

.tableStatic tbody tr { border-top: 1px solid #ffdebd; background: #fff;}
.tableStatic tbody tr:nth-child(even) { background: #fffbf6; }
.tableStatic tbody tr:hover { background: #FFE7D6; }

.tableStatic tbody td { border-left: 1px solid #ffdebd; padding: 6px 10px; vertical-align: middle; }

.tableStatic tbody td.actions a { border: 1px solid #ffdebd; background: #FFF; padding: 0px; }
.tableStatic tbody td.actions a:hover { border: 1px solid #fdbc7b; background: #FFE7D6; padding: 0px;}

.rowElem:hover {background: none repeat scroll 0 0 #FFB685;}

.docaction .actions { background: url('theme_color_orange/doc_actions.png'); }

.mainForm input[type=text], .mainForm input[type=password], .mainForm textarea { font-size: 11px; padding: 4px 6px; background: white; border: 1px solid #ffdebd; width: 100%; font-family: Arial, Helvetica, sans-serif; box-shadow: 0 0 0 2px #fffbf6; -webkit-box-shadow: 0 0 0 2px #fffbf6; -moz-box-shadow: 0 0 0 2px #fffbf6; color: #656565; } 
.mainForm input[type=text]:hover, .mainForm input[type=password]:hover, .mainForm textarea:hover { border-color: #ffdebd; background: #fff; box-shadow: 0 0 0 2px #fffbf6; -webkit-box-shadow: 0 0 0 2px #fffbf6; -moz-box-shadow: 0 0 0 2px #fffbf6; }
.mainForm input[type=text]:focus, .mainForm input[type=password]:focus, .mainForm textarea:focus { border-color: #fdbc7b; background: #fff; box-shadow: 0 0 0 2px #fffbf6; -webkit-box-shadow: 0 0 0 2px #fffbf6; -moz-box-shadow: 0 0 0 2px #fffbf6; }

.mainForm input[readonly], .mainForm input[disabled] { background: #f5f5f5; border: 1px solid #DADADA; color: #aaa; }
.mainForm input[readonly]:hover, .mainForm input[disabled]:hover { background: #f5f5f5; border: 1px solid #aaa; color: #656565; }
.mainForm input[readonly]:focus, .mainForm input[disabled]:focus { background: #f5f5f5; border: 1px solid #aaa; color: #656565; }

.mainForm .select { font-size: 11px; background: white; border: 1px solid #ffdebd; width: 100%; font-family: Arial, Helvetica, sans-serif; box-shadow: 0 0 0 2px #fffbf6; -webkit-box-shadow: 0 0 0 2px #fffbf6; -moz-box-shadow: 0 0 0 2px #fffbf6; color: #656565; }

div.jGrowl div.error { background-color: #FF0000;}
div.jGrowl div.accept { background-color: #00CC00;}

/* ===== Page scrolling ===== */
#toTop { background:url(theme_color_orange/ui.totop.png) no-repeat left top; }
#toTopHover { background:url(theme_color_orange/ui.totop.png) no-repeat left -22px; }

/* =====  Single file input  ===== */
.feat { margin-left: 5px; background: url(theme_color_orange/addFiles.png) no-repeat 0 0; width: 22px; height: 26px; }

/* ==========  CMS Stats  ========== */
.cmsStats { color: #fd6900; border: 1px solid #fdbc7b; background: #fffbf6; }
.cmsStatsAlert { color: #f00; border: 1px solid #f00; background: #ffe3e2; }

/* ===== Messages page ===== */
.messagesOne .by_user .messageArea { background: #fffbf6; border-color: #ffdebd; margin-left: 60px; } 
.by_user .name > strong { color: #fd6900; }
.messagesOne .by_user .aro { background: url(theme_color_orange/messageArrow_left.png) no-repeat; left: -8px; }

.code { background-color: #FFEBD6; padding: 1px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: url(theme_color_orange/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #fff; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; background: url(theme_color_orange/titleBg.png) repeat-x 0 -39px; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: url(theme_color_orange/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #d5d5d5; }
.ui-state-hover a, .ui-state-hover a:hover { color: #797979; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: url(theme_color_orange/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #fff; }

.ac_results { padding: 0px; border: none; background-color: #fff; overflow: hidden; z-index: 99999; }
.ac_odd { background-color: #FFFBF6; }
.ac_over { background-color: #FFE7D6; color: #484848; }
.ac_results li { border: 1px solid #FFDEBD; border-top: none; }
.ac_results li strong { border-bottom: 1px dotted; background-color: #FFDEBD;}