body { background: #EAF2E3 url('../images/backgrounds/blueprint.png'); }

/* ==========  General styles ========== */
.wrapper { margin: 0 40px; clear: both; }
.img { border: 1px solid #d5d5d5; }
a { color: #336633;}

/* ===== Header ===== */
.logo .box{ width: 180px; height: 64px; display: block; background: url(theme_color_green/loginLogo.png) no-repeat; }

/* ===== Top navigation ===== */

.userNav .lastNav { width: 2px; height: 36px; background: url(theme_color_green/navSep.png) repeat-y; position: absolute; top: 0; right: 0; }
.userNav ul li ul li:hover { background: url(theme_color_green/titleBg.png) repeat-x; background-position: 0 -39px; }
.userNav ul li ul li a.active {background: url(theme_color_green/titleBg.png) repeat-x; background-position: 0 -39px; color: #fff;}

/* ===== Left navigation ===== */
.leftNav { width: 180px; max-width: 36%; margin-top: -1px; float: left; margin-bottom: 80px; margin-right: 21px; }
.leftNav ul li a { color: #fafafa; font-size: 13px; display: block; background: url(theme_color_green/titleBg.png) repeat-x 0 0; border: 1px solid #484848; margin-top: 1px; text-decoration: none; }
.leftNav ul li a:hover { background-position: 0 -78px; border: 1px solid #484848; }
.leftNav ul li a.active { background-position: 0 -39px; border: 1px solid #336633; }

#leftNav_show #toggle-LeftMenu span{ background-image: url(theme_color_green/left_menu_show.png); }

/* Left navigation subnav */
ul.sub { border: none; }
ul.sub li { border: 1px solid #d5d5d5; padding: 1px; margin: 1px 0 0 0; background: #fff url(../images/leftNavSub.png) repeat; }
ul.sub li.active { background: #EAF2E3 url(../images/leftNavSub.png); border: 1px solid #B6D19F; }
ul.sub li.active a { color: #484848;}
ul.sub li a { background: url(../images/arrow.gif) no-repeat 8px 13px; border: none; color: #ccc; font-size: 11px;}
ul.sub li a:hover, .sub li a:active { font-style: normal; border: none; color: #484848; background: url(../images/arrow.gif) no-repeat 8px 13px; }

/* ==========  Left navigation subnav + docs  ========== */
ul.sub li a.numberRight { margin: 0; position: absolute; top: 9px; right: 10px; float: none; background: url(theme_color_green/numDataBg.png) repeat-x; padding: 3px 3px!important; z-index: 100;}
ul.sub li a.numberRight:hover { background-position: 0px -42px; }

/* ===== Right side content ===== */
.widget { margin-top: 20px; border: 1px solid #484848; display: block; background: #fff; clear: both; }
.widgetS { margin-top: 20px; border: 1px solid #595959; display: block; background: #fafafa; border-top: none; min-width: 25%; float: left; margin-right: 40px; }

.widgets .left { float: left; width: 49%; margin-right: 2%; }
.widgets .right { float: right; width: 49%; }

.widget .num a.basicNum { background: transparent url(theme_color_green/numDataBg.png) repeat-x 0 0; border: 1px solid #46602E; color: #fff; -moz-box-shadow: 0 0 2px #557639; -webkit-box-shadow: 0 0 2px #557639; box-shadow: 0 0 2px #557639;}

.head { background: url(theme_color_green/head.png) repeat-x; height: 36px; border-top: 1px solid #353E47; border-bottom: 1px solid #353E47; position: relative; color: #fff; border-top: none;}

.questions { background: url(../images/ui/greenBtn.png) repeat-x 0 0; border: 1px solid #885984; color: #fff; -moz-box-shadow: 0 0 2px #336633; -webkit-box-shadow: 0 0 2px #336633; box-shadow: 0 0 2px #336633; padding: 2px 6px;}
.questions:hover { background-position: 0 -25px; }
.questions:active { background-position: 0 -50px; }

.basicBtn { background: url(../images/ui/greenBtn.png) repeat-x 0 0; border: 1px solid #557639; color: #fff; -moz-box-shadow: 0 0 2px #545454; -webkit-box-shadow: 0 0 2px #545454; box-shadow: 0 0 2px #545454; }
.basicBtn:hover { background-position: 0 -25px; }
.basicBtn:active { background-position: 0 -50px; }

.dualBtn { padding: 7px 8px; cursor: pointer; line-height: 12px; background: url(../images/ui/greenBtn.png) repeat-x 0 0; border: 1px solid #557639; color: #fff; -moz-box-shadow: 0 0 2px #336633; -webkit-box-shadow: 0 0 2px #336633; box-shadow: 0 0 2px #336633; }
.dualBtn:hover { background-position: 0 -25px; }
.dualBtn:active { background-position: 0 -50px; }

.btn14 { border: 1px solid #24272B; background: url(theme_color_green/titleBg.png) repeat-x 0 0; padding: 6px 8px; display: inline-block; -moz-box-shadow: 0 1px 0 #363B3E;  -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
.btn14:hover { background-position: 0 -39px; }
.btn14:active { background: #557a8e; }

.btn55 { background: #3b5867 url(theme_color_green/middlebg.png) repeat-x 0 0; border: 1px solid #292D2F; padding: 7px 6px 0px 6px; display: inline-block; -moz-box-shadow: 0 1px 0 #363B3E; -webkit-box-shadow: 0 1px 0 #363B3E; box-shadow: 0 1px 0 #363B3E; }
.btn55:hover { background-position: 0 -56px; }
.btn55:active { background-position: 0 -112px; }
.btn55 span { display: block; padding: 5px 5px 0 5px; color: #eaeaea; }

.btnIconLeft { border: 1px solid #292D2F; background: url(theme_color_green/titleBg.png) repeat-x 0 0; display: inline-block; color: #fafafa; text-decoration: none; }
.btnIconLeft:hover { background-position: 0 -39px; border: 1px solid #292D2F; }
.btnIconLeft:active { background: #557a8e; }
.btnIconLeft .icon { float: left; border-right: 1px solid #292D2F; padding: 8px; }
.btnIconLeft span { display: block; float: left; padding: 5px 10px; font-weight: bold; }


/* ========== Pagination ========== */
.pagination { margin: auto; width: auto; text-align: center; margin-top: 40px; }
.pages {  }
.pages li.prev { margin-right: 15px; }
.pages li.next { margin-left: 15px; }
.pages li { display: inline; margin: 0 2px; }
.pages li a { height: 25px; padding: 4px 8px; text-decoration: none; color: #666; font-weight: bold; background: url(theme_color_green/pagination.png) repeat-x 0 0; border: 1px solid #d5d5d5; font-size: 11px; }
.pages li a:hover { background: #efefef; }
.pages li .active { background-position: 0 -26px; color: #fff; border-color: #666; }
.pages li .active:hover { background: #666; }

.content .title { background: url(theme_color_green/titleBg.png) repeat-x; height: 36px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.content .title h5 { float: left; color: #fafafa; font-weight: normal; display: block; padding: 0 0 0 15px; line-height: 36px;}

/* ===== PopUp ===== */
#popup_title { text-align: center; background: url(theme_color_green/leftNavBg.png) repeat-x; border-bottom: 1px solid #d5d5d5; cursor: default; padding: 9px 0 9px 0px; margin: 0em; height: 20px; }
#popup_content { background: #fafafa; padding: 1em 1.75em; margin: 0em; }
#popup_message { text-align: center; }
#popup_panel { text-align: center; margin: 1em 0em 0em 0em; }
#popup_message input[type=text] { background: #FCFCFC; border: 1px solid #D1D1D1; padding: 5px; width: 258px; }
#popup_prompt { margin: .5em 0em; }

.breadCrumbHolder.module { border: solid 1px #B6D19F; background: #fff; margin-top: 20px;}

/* ===== Forms ===== */
/* Selects */
.jqTransformSelectWrapper ul a.selected { background: #336633; color: #fff; }

/* ===== Growl notifications ===== */
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
	background-color: #336633;
}
div.jGrowl div.error { background-color: #FF0000;}
div.jGrowl div.accept { background-color: #00CC00;}

/* ===== Tabs ===== */
ul.tabs { background: transparent url(theme_color_green/head.png) repeat-x; height: 37px; border-bottom: none; border-top: none;}
ul.tabs li { float: left; height: 36px; line-height: 38px; border-left: none; overflow: hidden; position: relative; background: url(theme_color_green/tabsSep.png) repeat-y 100% 0; font-size: 15px; }
ul.tabs li a { text-decoration: none; display: block; padding: 0px 12px; outline: none; color: #797979; }
ul.tabs li a:hover { color: #fff; }

.tabsRight { position: relative; }
.tabsRight ul.tabs { float: right; background: url(theme_color_green/head.png) repeat-x; height: 38px; border-bottom: 1px solid #595959; position: absolute; top: 0; right: 0; }

ul.inact_tabs { background: transparent url(theme_color_green/head.png) repeat-x; height: 37px; border-bottom: none; border-top: none;}
ul.inact_tabs li { float: left; height: 36px; line-height: 38px; border-left: none; overflow: hidden; position: relative; background: url(theme_color_green/tabsSep.png) repeat-y 100% 0; font-size: 15px; }
ul.inact_tabs li a { text-decoration: none; display: block; padding: 0px 12px; outline: none; color: #797979; }
ul.inact_tabs li a:hover { color: #fff; }

.tableStatic tbody tr { border-top: 1px solid #B6D19F; background: #F5F8F1;}
.tableStatic tbody tr:nth-child(even) { background: #fff; }
.tableStatic tbody tr:hover { background: #E0EBD6; }

.tableStatic tbody td { border-left: 1px solid #B6D19F; padding: 6px 10px; vertical-align: middle; }

.tableStatic tbody td.actions a { border: 1px solid #B6D19F; background: none; padding: 0px;}
.tableStatic tbody td.actions a:hover { border: 1px solid #82AF5A; background: #E0EBD6; padding: 0px;}

.docaction .actions { background: url('theme_color_green/doc_actions.png'); }

.rowElem {border-top: 1px solid #B6D19F;}
.rowElem:hover {background: none repeat scroll 0 0 #E0EBD6;}

.mainForm input[type=text], .mainForm input[type=password], .mainForm textarea { font-size: 11px; padding: 4px 6px; background: white; border: 1px solid #B6D19F; width: 100%; font-family: Arial, Helvetica, sans-serif; box-shadow: 0 0 0 2px #F1F4FA; -webkit-box-shadow: 0 0 0 2px #F1F4FA; -moz-box-shadow: 0 0 0 2px #F1F4FA; color: #656565; } 
.mainForm input[type=text]:hover, .mainForm input[type=password]:hover, .mainForm textarea:hover { border-color: #82AF5A; background: #fff; }
.mainForm input[type=text]:focus, .mainForm input[type=password]:focus, .mainForm textarea:focus { border-color: #82AF5A; background: #fff; }

.mainForm input[readonly], .mainForm input[disabled] { background: #f5f5f5; border: 1px solid #DADADA; color: #aaa; }
.mainForm input[readonly]:hover, .mainForm input[disabled]:hover { background: #f5f5f5; border: 1px solid #aaa; color: #656565; }
.mainForm input[readonly]:focus, .mainForm input[disabled]:focus { background: #f5f5f5; border: 1px solid #aaa; color: #656565; }

/* ===== Page scrolling ===== */
#toTop { background:url(theme_color_green/ui.totop.png) no-repeat left top; }
#toTopHover { background:url(theme_color_green/ui.totop.png) no-repeat left -22px; }

/* =====  Single file input  ===== */
.feat { margin-left: 5px; background: url(theme_color_green/addFiles.png) no-repeat 0 0; width: 22px; height: 26px; }

/* ==========  CMS Stats  ========== */
.cmsStats { color: #336633; border: 1px solid #B6D19F; background: #EAF2E3; }
.cmsStatsAlert { color: #f00; border: 1px solid #f00; background: #ffe3e2; }

/* ===== Messages page ===== */
.messagesOne .by_user .messageArea { background: #F5F8F1; border-color: #B6D19F; margin-left: 60px; } 
.by_user .name > strong { color: #336633; }
.messagesOne .by_user .aro { background: url(theme_color_green/messageArrow_left.png) no-repeat; left: -8px; }


.code { background-color: #E1E7ED; padding: 1px 5px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: url(theme_color_green/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #fff; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; background: url(theme_color_green/titleBg.png) repeat-x 0 -39px; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: url(theme_color_green/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #d5d5d5; }
.ui-state-hover a, .ui-state-hover a:hover { color: #797979; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background: url(theme_color_green/titleBg.png) repeat-x 0 -39px; font-weight: normal; color: #fff; }

.ac_results { padding: 0px; border: none; background-color: #fff; overflow: hidden; z-index: 99999; }
.ac_odd { background-color: #F5F8F1; }
.ac_over { background-color: #E0EBD6; color: #484848; }
.ac_results li { border: 1px solid #B6D19F; border-top: none; }
.ac_results li strong { border-bottom: 1px dotted; background-color: #B6D19F;}